* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

:root {
    --green: #009f63;
    --pink: #fe5887;
    --purple: #c064ac;
    --lightgreen: #6ba13f;
    --light: #ffffff;
    --dark: #000000;
    --grey: #ececec;
    --darkgrey: #818182;
    --red: red;
}

/*********************************************NAVBAR**************************************/

.navbar {
    position: fixed;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 54px;
    top: 0;
    z-index: 9999999;
}

.links {
    display: flex;
    gap: 30px;
    margin-left: 200px;
    padding-right: 30px;
}

.navbar .fa-bars {
    display: none;
}



.navbar>img {
    position: relative;
    top: 27px;
    height: 98px;
    padding-left: 20px;
}

.links :hover {
    color: var(--dark);
}

/******************************************HERO************************************/

.hero {
    display: flex;
    height: 100vh;
    align-items: center;
}

.hero1stimg {
    width: 100%;
}

.link {
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    border: 3px solid;
    padding: 12px 10px;
    margin: 30px 110px 15px;
}

.refresh {
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.hero2ndimg {
    width: 100%;
}


/*******************************************SECOND SECTION***************************************/

.simplebanner {
    background-image: url(../images/7up-simple-banner.jpg);
    display: grid;
    position: relative;
    top: 100%;
    bottom: 100%;
    background-repeat: no-repeat;
}

.bannerimg {
    width: 100%;
    height: 100%;
}

.simplebanner div {
    position: absolute;
    background-image: url(../images/7up-simple-color-mobile.jpg);
    margin-top: 180px;
    margin-left: 100px;
}

.simplebanner h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.simplebanner p {
    font-size: 25px;
}

.p2 {
    margin-bottom: 50px;
}

.simplebanner a {
    background: var(--light);
    color: var(--green);
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    background-position: fixed;
}

.one {
    background-size: cover;
    background-image: url(../images/module_cocktail.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;

}

.one img {
    display: none;
}

.one h1 {
    margin-top: 186px;
    margin-bottom: 260px;
    background-color: var(--pink);
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px;
}

.two {
    background-size: cover;
    background-image: url(../images/module_cooking.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.two img {
    display: none;
}

.two h1 {
    margin-top: 190px;
    margin-bottom: 311px;
    background-color: var(--lightgreen);
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px;
}

.three {
    background-size: cover;
    background-image: url(../images/module_seeall.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.three img {
    display: none;
}

.three h1 {
    margin-top: 190px;
    margin-bottom: 305px;
    background-color: var(--purple);
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px;
}

/****************************************CAROUSEL SECTION******************************************/

.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.part1 div {
    width: 100px;
    display: grid;
    padding: 120px 70px 101px 10px;
    position: relative;
}

.image1 {
    height: 153px;
    width: 70px;
    margin: 20px;
}

.image1shadow {
    margin: 50px 0px 0px 4px;
    width: 100px;
}
.part1 .c2 {
    position: relative;
    display: flex;
    align-items: center;
    margin: -418px 0px 0px 180px
}

.c2 .image2 {
    height: 366px;
    width: 186px;
    position: absolute;
    margin-left: 25px;
    z-index: 1;
}

.c2 .backshadow {
    position: relative;
    height: 220px;
    filter: blur(4px);
}

.c2 .backshadow1 {
    position: relative;
    padding-left: 8px;
    height: 226px;
    filter: blur(5px);
}

.c2 .image2shadow {
    position: absolute;
    width: 210px;
    bottom: 0;
    margin: -19px 0 -61px 18px;
}

.part1 .c3 {
    position: relative;
    display: flex;
    margin: -495px 0px 0px 480px
}

.arrows{
    width: 250px;
    margin: 80px 0px 0px 200px;
}

.image3 {
    position: relative;
    height: 270px;
    width: 126px;
}

.image3shadow {
    position: absolute;
    width: 130px;
    bottom: 0;
}

.part2 {
    background-color: var(--grey);
}

.part2 h1 {
    font-size: 5rem;
    color: var(--green);
    margin: 90px 100px 0 100px;
}

.part2 h1 span {
    color: var(--red);
}

sup {
    color: var(--darkgrey);
    font-size: 15px;
}

.part2 p {
    margin: 20px 100px 0 100px;
    color: var(--darkgrey);
    font-size: 17px;
}

.part2 img {
    margin: 80px auto -18px 100px;
    max-width: 500px;
    width: 100%;
}


/********************************FOOTER SECTION**********************************/
.contain {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.footerimg {
    width: 1345px;
    height: 800px;
    position: relative;
}

.contain .footerbox {
    background-color: #ffffffc4;
    position: absolute;
    margin-top: 600px;
}

.footerbar ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footerbar ul .navcontent {
    color: #5e5e5e;
    font-weight: 600;
}

.fa-brands {
    font-size: 23px;
    padding: 5px;
    margin-bottom: 10px;
}

.contain .footerbox {
    padding: 20px 80px 20px 80px;
}

.contain .footerbox p {
    font-size: 15px;
    color: #5e5e5e;
    margin: 15px 10px 10px 10px;
    font-weight: 600;
    padding: 0px 50px 0px 50px;
}

.enjoy {
    width: 419px;
    height: 162px;
    background-color: rgb(160, 7, 7);
    position: absolute;
    border-radius: 0 25% 0 32%;
    transform: rotate(330deg);
    margin: 245px -91px -33px 589px
}

.enjoy h1 {
    font-size: 63px;
    padding: 45px 10px 40px 35px;
}

/********************************************IPHONE 6/7/8**********************************/
@media (max-width: 375px) {

    /***********************navbar*****************/

    .navbar {
        position: fixed;
        background-color: var(--green);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: 50px;
        z-index: 9999999;
    }

    .navbar>img {
        position: relative;
        top: 21px;
        padding-left: 20px;
        width: 108px;
        height: 66px;
    }

    .links {
        display: none;
    }

    .navbar .fa-bars {
        display: block;
        padding-right: 20px;
    }


    .navbar .fa-bars:hover {
        color: var(--dark);
    }

    /********************hero******************/

    .hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 85px;
    }

    .link {
        color: var(--green);
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        border: 2px solid;
        margin: 14px 12px 100px 14px;
    }

    .hero1stimg {
        width: 200px;
    }

    .refresh {
        color: var(--green);
        text-transform: uppercase;
        text-align: center;
        font-size: 22px;
    }

    /**********************banner***********************/

    .bannerimg {
        height: 349px;
        margin-left: -235px;
        width: auto;
    }

    .simplebanner {
        top: 100%;
        bottom: 100%;
        background-repeat: no-repeat;

    }

    .simplebanner div {
        background-image: url(../images/7up-simple-color-mobile.jpg);
        width: 100%;
        height: 253px;
        margin-top: 334px;
        margin-left: 0px;
        text-align: center;
    }

    .simplebanner h1 {
        font-size: 35px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .simplebanner p {
        font-size: 15px;
        font-weight: 600;
    }

    .simplebanner a {
        background: var(--light);
        color: var(--green);
        padding: 20px;
        font-size: 16px;
        font-weight: 700;
        background-position: fixed;

    }

    .one {
        background-size: 375px;
        background-image: url(../images/module_cocktail.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 213px;
        justify-content: center;
        margin-top: 238px;
    }

    .one img {
        display: flex;
        position: relative;
    }

    .one h1 {
        position: absolute;
        margin-top: 101px;
        margin-bottom: 86px;
        background-color: var(--pink);
        font-size: 16px;
        text-transform: uppercase;
        padding: 15px;
    }

    .two {
        background-size: 375px;
        background-image: url(../images/module_cooking.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 213px;
        justify-content: center;
    }

    .two img {
        display: flex;
        position: relative;
        width: 100%;
    }

    .two h1 {
        position: absolute;
        margin-top: 101px;
        margin-bottom: 86px;
        background-color: var(--lightgreen);
        font-size: 16px;
        text-transform: uppercase;
        padding: 15px;
    }

    .three {
        background-size: 375px;
        background-image: url(../images/module_cooking.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 213px;
        justify-content: center;
    }

    .three img {
        display: flex;
        position: relative;
        width: 100%;
    }

    .three h1 {
        position: absolute;
        margin-top: 80px;
        margin-bottom: 86px;
        background-color: var(--purple);
        font-size: 16px;
        text-transform: uppercase;
        padding: 13px;
    }

/* Carousel */

.image1 {
    height: 153px;
    width: 70px;
    margin: 8px;
}

.image1shadow {
    margin: 40px 0px 0px -2px;
    width: 100px;
}
.part1 .c2 {
    position: relative;
    display: flex;
    align-items: center;
    margin: -472px 0px 0px 116px;
}
.c2 .backshadow {
    position: relative;
    height: 220px;
    width: 69px;
}

.c2 .backshadow1 {
    position: relative;
    margin-left: 32px;
    height: 226px;
    width: 70px;
}

.c2 .image2shadow {
    position: absolute;
    width: 150px;
    bottom: 0;
    margin: 0px 0px 24px 15px;
}

.part1 .c3 {
    position: relative;
    display: flex;
    margin: -479px 0px 0px 303px;
}

.image3 {
    position: relative;
    height: 163px;
    width: 60px;
}

.image3shadow {
    position: absolute;
    width: 86px;
    bottom: 0;
    margin: -34px 5px 47px -16px;
}

.c2 .image2 {
    height: 269px;
    width: 123px;
    position: absolute;
    margin-left: 26px;
    z-index: 1;
}

.arrows {
    width: 120px;
    margin: 83px 0px 0px 155px;
}
    .carousel {
        display: flex;
        flex-direction: column-reverse;
    }

    .part2 h1 {
        font-size: 4rem;
        color: var(--green);
        margin: 37px 12px 0px;
    }

    .part2 p {
        margin: 15px 11px 0;
        color: var(--darkgrey);
        font-size: 16px;
    }

    .part2 img {
        margin: 52px 0 -5px 80px;
        max-width: 220px;
        width: 100%;
    }

    /**************************Footer********************/

    .contain {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    .enjoy {
        width: 154px;
        height: 58px;
        background-color: rgb(160, 7, 7);
        position: absolute;
        border-radius: 0 25% 0 32%;
        transform: rotate(330deg);
        margin: 86px -36px 0px 117px;
    }

    .enjoy h1 {
        font-size: 20px;
        padding: 17px 0px 9px 24px;
    }

    .footerimg {
        height: 400px;
        width: 100%;
        position: relative;
    }

    .contain .footerbox {
        background-color: #ffffffc4;
        position: absolute;
        margin: 190px 20px 20px 20px;
    }

    .footerbar ul {
        display: flex;
        justify-content: center;
        gap: 12px;
    }
     ul .navcontent {
        color: #5e5e5e;
        font-weight: 600;
        font-size: 14px;
    }
    
    ul .fl {
        color: #5e5e5e;
        font-weight: 600;
        font-size: 11px;
    }
    .fa-brands {
        font-size: 20px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .contain .footerbox {
        padding: 20px 80px 20px 80px;
    }

    .contain .footerbox p {
        font-size: 8px;
        color: #5e5e5e;
        margin: 15px 10px 10px 10px;
        font-weight: 600;
        text-align: center;
    }

    .footerlinks li{
        font-size: large;
    }
}